* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

img {
  width: 100dvw;
}

a {
  display: block;
  background-color: darkred;
  padding: 20px;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

a::hover {
  background-color: red;
}
